body {
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

/* content */
#content {
	height: 85vh;
	background-color: #999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#search {
	width: 90%;
	height: 15%;
	background-color: #d9d9d9;
	border: 2px #c8c8c8 solid;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

#searchInp {
	width: 700px;
	height: 50px;
	background-color: white;
	border: 2px #c8c8c8 solid;
	border-radius: 20px;
	color: #757981;
	font-size: 125%;
	float: left;
}

#searchLoc {
	width: 300px;
	height: 50px;
	background-color: white;
	border: 2px #c8c8c8 solid;
	border-radius: 20px;
	font-size: 125%;
	color: #757981;
	margin-left: 20px;
	float: left;
}

#searchCat {
	width: 300px;
	height: 50px;
	background-color: white;
	border: 2px #c8c8c8 solid;
	border-radius: 20px;
	font-size: 125%;
	color: #757981;
	margin-left: 20px;
	float: left;
}

#searchButton {
	width: 300px;
	height: 50px;
	background-color: #f3950d;
	border: 2px #c8c8c8 solid;
	border-radius: 20px;
	font-size: 125%;
	margin-left: 20px;
	float: left;
}

#searchButton:hover {
	background-color: #e2840c;
	cursor: pointer;
}

#categories {
	width: 90%;
	height: 70%;
	background-color: #d9d9d9;
	border: 2px #c8c8c8 solid;
	gap: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}

.category {
	width: 225px;
	height: 225px;
	background-color: #f3950d;
	border: 2px #c8c8c8 solid;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.categoryImg {
	margin-top: 25px;
	width: 165px;
	height: 165px;
	border: 2px #c8c8c8 solid;
	border-radius: 100%;
}

.categoryTitle {
	margin-top: 5px;
	text-align: center;
}

.categorySubmit {
	position: absolute;
	width: 225px;
	height: 225px;
	border-radius: 100%;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#link {
	width: 100%;
	height: 100%;
}
