/* Resetowanie domyślnych stylów */
body {
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Zawartość */
#content {
	height: 85vh;
	background-color: #999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

#peoplepage {
	width: 90%;
	height: 95%;
	background-color: #d9d9d9;
	border: 2px solid #c8c8c8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	width: 225px;
	height: 225px;
	background-color: #f3950d;
	border: 2px solid #c8c8c8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.categoryImg {
	margin-top: 25px;
	width: 150px;
	height: 150px;
	border: 2px solid #c8c8c8;
	clear: both;
}

.categoryTitle {
	margin-top: 8px;
	text-align: center;
}

#link {
	width: 100%;
	height: 100%;
}

#profileImg {
	width: 250px;
	height: 250px;
	border: 2px solid #999;
	border-radius: 100%;
}

#profile {
	width: 25%;
	height: 100%;
	background-color: yellowgreen;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#info {
	display: flex;
	flex-direction: column;
	float: left;
}

button {
	width: 100%;
	height: 30px;
	background-color: #d9d9d9;
	font-size: 120%;
}

#operations {
	width: 77%;
	height: 100%;
	background-color: orange;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#findAnnouncement,
#findFollowedAnnouncements,
#reportedUsers {
	width: 30%;
	height: 90%;
	background-color: #d9d9d9;
	border: 2px solid #999;
}

hr {
	width: 100%;
}

h2 {
	text-align: center;
}

